.page-heading h1{

  background-color: #f9f9f9;
}
.page-heading h1{
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0 !important;
  position: relative;
  border-top: 0 !important;
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
