
.banner{
  margin-bottom: 50px;
  height: 100%;
  position: relative;
}
.layer {
  position: absolute;
  top : 20%;
  left: 30%
}
.infomation-aboutus{
  padding: 20px 0;
  background: grey;
  outline: 20px solid grey;
  border: 2px solid #ffffff;
}
.mt-3 .row {
  margin: 0 30px;
}
.infomation-aboutus .h3{
  padding: 10px;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
}
.infomation-aboutus .details{
  padding: 20px;
}
.infomation-aboutus .details p {
  text-align: center;
  font-size: 20px;
}

.owl-theme .owl-nav {
    position: relative;
    bottom: 60%;
    color: #9f3b00;
    font-size: 30px !important
}

.owl-prev {
    position: absolute;
    left: -30px;
}

.owl-next {
    position: absolute;
    right: -30px;
}
@media screen and (max-width: 768px;){
  .wrapper .img-about{
    margin-bottom: 15px;
  }
}
