
.banner{
  margin-bottom: 50px;
}
.img-about{
  width:100%;
  height: auto;
}
#asd{
  background: grey;
  padding: 15px;
}
.infomation-aboutus{
  min-height: 562px;
  position: relative;
  border: 2px solid #ffffff;
}

.infomation-aboutus .h3{
  padding: 10px;
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  text-transform: uppercase;
}
.infomation-aboutus .details{
  padding: 20px;
  text-align: justify;
  font-size: 14px;
}
.owl-theme .owl-nav {
    position: relative;
    bottom: 240px;
    color: #9f3b00;
    font-size: 30px !important
}

.owl-prev {
    position: absolute;
    left: -50px;
}

.owl-next {
    position: absolute;
    right: -50px;
}
@media screen and (max-width: 768px;){
  .wrapper .img-about{
    margin-bottom: 15px;
  }
}
