<!DOCTYPE html>
<html lang="en" ng-app='myApp'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- css-link -->
  <link rel="stylesheet" href="css/faq.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/aboutus.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/faq.css">
  <link rel="stylesheet" href="css/gallery.css">
  <link rel="stylesheet" href="css/contactus.css">
  <link rel="stylesheet" href="css/products.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- gg fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&amp;subset=vietnamese" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js"></script>
  <!-- AngularJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
  <script src="https://rawgit.com/ismarslomic/angular-read-more/master/dist/readmore.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-sanitize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular-touch.min.js"></script>
  <!-- Slick JS -->
  <!-- script -->
  <script src="https://code.angularjs.org/1.4.8/angular.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.0.3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.min.js"></script>
  <script src="js/app.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js" type="text/javascript"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <script src="js/formvalidation.js" charset="utf-8"></script>
  <!-- product details -->
  <link rel="stylesheet" type="text/css" href="slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="css/readmore.css">
  <!-- External Css file -->
  <link rel="stylesheet" href="css/productdetail.css">
  <link rel="stylesheet" href="css/cart.css">
  <script src="slick/slick.js"></script>
  <!-- Angular-Slick -->
  <script src="slick/dist/slick.js"></script>
  <title>Home</title>
</head>
<body ng-controller='mainCtrl'>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top main-nav transparent" id='navbar'>
      <a id='logo' class="navbar-brand" href="#"><img src="images/logo-small0.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="navbarSupportedContentLG">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" id="navbarSupportedContentLG">
        <ul class="navbar-nav mr-auto  space">
          <li class="nav-item" ui-sref-active='active'>
            <a class="nav-link" ui-sref='home'>Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" ui-sref-active='active'>
            <a class="nav-link" ui-sref='gallery'>Gallery</a>
          </li>
          <li class="nav-item" ui-sref-active='active'>
            <a class="nav-link" ui-sref='products'>Products</a>
          </li>
          <li class="nav-item" ui-sref-active='active'>
            <a class="nav-link" ui-sref='aboutus'>About Us</a>
          </li>
          <li class="nav-item" ui-sref-active='active'>
            <a class="nav-link" ui-sref='contactus'>Contact Us</a>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <div ui-view>

  </div>
  <div class="cart-icon"><i class="fas fa-shopping-cart"></i></div>
  <!-- Cart Show -->
  <div id="cart" class="viewcart">
    <div class="cart-head">
      <h3>CART-SHOW</h3>
      <a class="closebtn">&times;</a>
    </div>
    <div class="cart-body">
      <ul class="list-group">
        <li class="list-group-item row" ng-repeat="c in carts()">
          <img src="{{c.imgMain}}" class="col-7" alt="">
          <div class="blockInfo col-5">
            <small>{{c.name}}</small>
            <div> Quantity: {{c.quantity}} </div>
            <div> Total: {{c.total | currency}}</div>
            <input class="btn btn-danger" type="button" ng-click="delete($index)" value="Remove" />
          </div>
        </li>
      </ul>

    </div>
    <div class="cart-foot"><a ui-sref='cart' style="color: inherit">View Cart</a></div>
  </div>
  <!-- End of CartShow -->
  <div class="contact">
    <a href=""><i class="fab fa-facebook-square"></i></a>
    <a href=""><i class="fab fa-instagram"></i> </a>
    <a href=""><i class="fab fa-twitter-square"></i></a>
  </div>
  <div id="live-chat">
    <div class="clearfix head">
      <span class="chat-minim" id="minimize" onclick="collapseChat()">&#8249;</span>
      <span class="chat-maxim" id="maximize" onclick="expandChat()">&#8249;</span>
      <h4>CHAT WITH US!</h4>
    </div>
    <div class="chat" id="chat-text">
      <div class="chat-history">
        <div class="chat-message clearfix">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjHOiXliR5-9D7SpPInfacEH0q7AukiQkeHD4jfnjLmxKy6ws9" alt="" width="32" height="32">

          <div class="chat-message-content clearfix">
            <span class="chat-time">14:05</span>
            <h5>Venus Consultant</h5>
            <p>Hi there! I'm available to answer your questions.</p>
          </div> <!-- end chat-message-content -->
        </div> <!-- end chat-message -->
        <hr>
        <div class="chat-message clearfix">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/Chad-Anderson-Photo2.jpg/220px-Chad-Anderson-Photo2.jpg" alt="" width="32" height="32">
          <div class="chat-message-content clearfix">
            <span class="chat-time">14:07</span>
            <h5>Adam Smith</h5>

            <p>I am interested in your product Sur Reactive Vase. Our company is an importer from USA. We would like 1000 pieces of it so I would like to discuss more about the wholesale price.</p>

          </div> <!-- end chat-message-content -->
        </div> <!-- end chat-message -->
        <hr>
        <div class="chat-message clearfix">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjHOiXliR5-9D7SpPInfacEH0q7AukiQkeHD4jfnjLmxKy6ws9" alt="" width="32" height="32">
          <div class="chat-message-content clearfix">
            <span class="chat-time">14:08</span>
            <h5>Venus Consultant</h5>
            <p>Thanks for your asking. May I ask you some more information, sir?</p>
          </div> <!-- end chat-message-content -->
        </div> <!-- end chat-message -->
        <hr>
      </div> <!-- end chat-history -->
      <p class="chat-feedback">Your partner is typing…</p>
      <form action="#" method="post">
        <fieldset>
          <input id="chat-input" type="text" placeholder="Type your message…" autofocus>
          <!-- <input id="chat-input" type="text" placeholder="Type your message…" autofocus> -->
          <!-- <button id="send-message" onclick="addChatInput()"></button> -->
          <input type="hidden">
        </fieldset>
      </form>
    </div> <!-- end chat -->
  </div> <!-- end live-chat -->
  <footer class="footer">
    <div class="foot ">
      <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
          <header class="footer-title">
            <h2>Policy</h2>
          </header>
          <div class="FooterLink">
            <a href="#"><p>Sales Policy</p></a>
          </div>
          <div class="FooterLink">
            <a href="#"><p>Privacy Policy</p></a>
          </div>
          <div class="FooterLink">
            <a href="#"><p>Payment Policy</p></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
          <header class="footer-title">
            <h2>Customer Service</h2>
          </header>
          <div class="FooterLink">
            <a href="#"><p>My Order</p></a>
          </div>
          <div class="FooterLink">
            <a href="#"><p>Help Center</p></a>
          </div>
          <div class="FooterLink">
            <a href="#"><p>Report a Bug</p></a>
          </div>
          <div class="FooterLink">
            <a ui-sref='faq'><p>FAQ</p></a>
          </div>
          <div class="FooterLink">
            <a ui-sref='sitemap'><p>Sitemap</p></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
          <header class="footer-title">
            <h2>Reach Us</h2>
          </header>
          <p>8 Ton That Thuyet St, Nam Tu Liem, Hanoi</p>
          <p>Tel: +84916-888-991</p>
          <p>Email: info@venus.com</p>
          <p>Mon-Fri: 7am-5pm</p>
          <p>Saturday: 8am-5pm</p>
          <p>Sunday: 8am-11pm</p>
        </div>
      </div>
      <div class="CopyRight">
        Copyright &copy; 2019 by Venus-Handicrafts.
      </div>
  </footer>
</body>

</html>
