<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://code.angularjs.org/1.4.8/angular.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.0.3.js"></script>
  <title>Document</title>
</head>

<body ng-app="myModule" ng-controller="myController">
  <input type="text" class="form-control" placeholder="Filter..." ng-model="filterText">

  <ul>

    <li ng-repeat="item in filterData = (totalItems | filter : {itemName: filterText}) | limitTo:3:3*(page-1)">

      <div>{{item.itemName}}</div>

    </li>

  </ul>

  <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></uib-pagination>
  <script type="text/javascript">
    var myModule = angular.module('myModule', ["ui.bootstrap"]);

    myModule.controller('myController', function($scope) {

      $scope.page = 1;

      $scope.totalItems = [{
          itemName: "Tom"
        },
        {
          itemName: "Tim"
        },
        {
          itemName: "Tum"
        },
        {
          itemName: "Tam"
        },
        {
          itemName: "Tem"
        },
        {
          itemName: "Tiem"
        },
        {
          itemName: "Pum"
        }
      ];


      $scope.displayItems = $scope.totalItems.slice(0, 3);

      $scope.pageChanged = function() {
        var startPos = ($scope.page - 1) * 3;
        //$scope.displayItems = $scope.totalItems.slice(startPos, startPos + 3);
        console.log($scope.page);
      };

    });
  </script>
</body>

</html>
