<div class="respon">
    <div class="well">
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <a href="#!/products" style="color: inherit;"> &#60; Continue Shopping</a>
          </div>
          <div class="col-md-6 col-xs-6">
            <button type="button" class="btn btn-dark btn-block">
                <span class="glyphicon glyphicon-lock"></span> Checkout
            </button>
          </div>
        </div>

        <table class="table" >
            <tr>
              <td>
                  <h3>My Cart</h3>
              </td>
              <td class="bottoma" id="price">
                  Price
              </td>
              <td class="">Qty</td>
              <td class="bottoma">Total</td>
            </tr>

            <tr ng-repeat='c in carts()'>
                <td class="row cartCart">
                    <div class="col-5">
                      <img src="{{c.imgMain}}" alt="" class="imgMain">
                    </div>
                    <div class="col-7">
                      <div>Product Name {{c.name}}</div>
                      <div>SKU: {{c.sku}}</div>
                      <button type="button" class="btn btn-dark" ng-click='delete($index)'>Remove</button>
                    </div>
                </td>
                <td>
                     {{c.price | currency}}
                </td>
                <td>
                    {{c.quantity}}
                </td>
                <td>
                    {{c.total | currency}}
                </td>
            </tr>

            <tr>
                <td rowspan="4">
                    Add a note
                    <br>
                    <textarea id="addnote" name="name" rows="4" cols="20" placeholder="Instructions? Special requests? Add them here"></textarea>
                </td>
                <td>
                    Subtotal
                </td>
                <td></td>
                <td>$Total</td>
            </tr>

            <tr>
                <td>
                    Shipping
                    <br><a href="">China</a>
                </td>
                <td></td>
                <td>FREE</td>
            </tr>

            <tr>
                <td>
                  Total
                </td>
                <td></td>
                <td>
                  $Price
                </td>
            </tr>

            <tr>
              <td colspan="3">
                <button type="button" class="btn btn-dark btn-block">
                  <span class="glyphicon glyphicon-lock"></span> Checkout
                </button>
              </td>

            </tr>

        </table>

    </div>

</div>
