<div class="respon">
    <h1 class="gallery-title">Gallery</h1>
    <div class="sometext">
      <h1 class="mb-3">our collection</h1>
  
        <p>These are our products. Included is Teampot, Creamic, Vase, Teacup, Glass, Candle, Home-Decor, Wood, Table-wares, Decoration-Object.</p>

    </div>
    <div class="row">
      <div align="center" class='col-12'>
        <button class="filter-button actives" data-filter="all">All</button>
        <button class="filter-button" ng-repeat='tag in tags' data-filter="{{tag.tagName}}">{{tag.tagName}}</button>
      </div>
      <br />
      <div ng-repeat='product in products' class="gallery_product col-xl-3 col-md-4  col-sm-6 filter {{product.class}}">
        <img src="{{product.img}}" class="img-responsive">
      </div>
    </div>
</div>
