<div class="respon">
    <!-- Gallery -->
    <div class="row">
      <div class="col-lg-2 side col-sm-3 col-xs-12">
        <ul class="categories">
          <li ng-click='filterText=""'><a href="">all</a></li>
          <li>
            <a href="" class="dropdown-toggle" >ceramic</a>
            <ul class="ceramicsubmenu submenu" >
              <li ng-click='filterText="teapot"'><a href="">tea pots</a></li>
              <li ng-click='filterText="vase"'><a href="">vase</a></li>
              <li ng-click='filterText="teacup"'><a href="">tea cups</a></li>
            </ul>
          </li>
          <li ng-click='filterText="glass"'><a href="">glass</a></li>
          <li ng-click='filterText="wood"'><a href="">wood</a></li>
          <li ng-click='filterText="candle"'><a href="">candle accessories</a></li>
          <li ng-click='filterText="Tables-wares"'><a href="">table wares</a></li> 
          <li ng-click='filterText="home-decor"'><a href="">home decor</a></li>
          <li ng-click='filterText="decorative-object"'><a href="">decorative object</a></li>
          <li ng-click='filterText="others"'><a href="">others</a></li>
        </ul>
      </div>
      <div class="Gallery col-lg-10 col-sm-9">
        <div class="row pics">
          <div ng-repeat='product in filterData = (products | filter : filterText ) | limitTo:8:8*(page-1)' class="col-sm-6 col-xl-3 col-lg-4 gal-item {{product.class}}">
            <a ui-sref='details({ ProductId :  "{{product.id}}"  })'>
              <img src="{{product.img}}" alt="">
              <div class="content">
                <div class="product-name">{{product.name}}</div>
              </div>
            </a>
          </div>
        </div>
        <!-- paging -->
        <uib-pagination class="pagination-sm" total-items="filterData.length" ng-model="page"

         ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=8 rotate='false'></uib-pagination>

      </div>
    </div>

    <!-- end Gallery -->
  </div>
